@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Sofia');

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@plugin '../../hero.ts'; /*This line is faulty and needs to be fixed*/
/*@custom-variant dark (&:is(.dark *));*/

html {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*text-shadow: 3px 3px 3px #ababab;*/
}

.titleItem {
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
}

.titleItem::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../public/binary_3.png");
    filter: brightness(50%);
    z-index: 0;
}

.titleItem h1 {
    text-shadow: 3px 3px 3px #ababab;
    position: relative;
    z-index: 1;
}

