@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@plugin '../hero.ts'; /*This line is faulty and needs to be fixed*/
/*@custom-variant dark (&:is(.dark *));*/
